/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    text-decoration: none;
}


/* Make images easier to work with */

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.margincenter {
    margin: auto;
}

.textcenter {
    text-align: center;
}

.spacerBotLight {
    margin-bottom: 20px;
}

.spacerBot {
    margin-bottom: 30px;
}

.spacerTopLight {
    margin-top: 20px;
}

.spacerTop {
    margin-top: 30px;
}

.spacerBot2 {
    margin-bottom: 50px !important;
}

.spacerTop2 {
    margin-top: 50px;
}

.spacerTop3 {
    margin-top: 70px !important;
}

.flex {
    display: flex;
}

.apart {
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
}

.grid2fr {
    grid-template-columns: 1fr 1fr;
}

.gridConCenter {
    place-content: center;
}

.whiteT {
    color: white;
}

.playfairFont {
    font-family: 'Playfair Display', serif;
}

.loraFont {
    font-family: 'Lora', serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 56px;
    line-height: 1.06;
    letter-spacing: 1.88px;
    font-weight: 600;
    color: #212529;
}

.backshadow {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(248, 249, 252, 1) 25%, rgba(248, 249, 252, 1) 70%, rgba(255, 255, 255, 1) 95%);
}